h1 {
  margin: 0;
  padding-bottom: 2vh;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

svg {
  border: 1px solid #000;
  flex: auto;
}

svg text {
  pointer-events: none;
}

.tooltips {
  width: 12rem;
  height: 5rem;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  padding: 1rem;
  pointer-events: none;
  box-sizing: border-box;
}
.tooltips p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.tooltips h3 {
  margin: 0;
  margin-bottom: 1vh;
  padding: 0;
  font-size: 1.1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.tooltips div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hightlight {
  fill: #ff0000;
}

#container {
  display: flex;
  gap: 10px;
}

#selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1vh;
}